<!doctype html>

<html class="no-js" lang="en-US">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Import Template Icons CSS Files -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/simple-line-icons.css">

<!-- Import Bootstrap CSS File -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<!-- Import Owl Carousel CSS File -->

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

<!-- TimeTo Countdown CSS Files -->
<link rel="stylesheet" href="assets/css/timeTo.css">

<!-- Import Template's CSS Files -->
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/responsive.css">


</head>


<body>


<header class="masthead">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="top-contact">
						<div class="trggericon"><i class="fas fa-at"></i></div>
						<div class="close"><i class="far fa-times-circle"></i></div>
						<div class="contacts">
							<span><i class="fas fa-phone"></i> <a href="">(+33)07 76 76 87 76</a></span>
							<span><i class="fas fa-envelope"></i> <a href="#">hihaohanzi@support.com</a></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div><!-- /.header-top -->

	<div class="header-bottom">
		<div class="container">
			<nav class="navbar navbar-expand-md m-0">
				<a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="Logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="main-menu">
					<ul class="navbar-nav">
						<li class="nav-item menu-item-has-children dropdown active"><a class="dropdown-item" href="index.html">Bienvenue</a></li>
						<li class="nav-item menu-item-has-children dropdown"><a class="dropdown-item" href="aide.html">Aide</a></li>
						<li class="nav-item menu-item-has-children dropdown"><a class="dropdown-item" href="contact.html">Contact</a></li>
					</ul>
				</div>
			</nav>

		</div><!-- /.container -->
	</div><!-- /.header-bottom -->
</header><!-- /.masthead -->

<section class="banner-section banner-01 background-bg" data-image-src="images/banner/1.jpg">
	<div class="overlay">
		<div class="section-padding">
			<div class="container">
				<div class="banner-texts text-center">
					<h6 class="sub-title mb-2">SUIVRE LES MEILLEURS COURS DU MONDE</h6>
					<h2 class="banner-title mb-5">Apprenez avec nous</h2>

					<a href="{% url 'pinyinDict' %}" class="btn btn-lg mt-2 banner-btn">Commencer</a>
				</div><!-- /.banner-texts -->
			</div><!-- /.container -->
		</div><!-- /.section-padding -->
	</div><!-- /.overlay -->
</section><!-- /.banner-section -->



<section class="popular-courses">
	<div class="section-padding">
		<div class="container">
			<div class="top-content">
				<div class="left-content float-left">
					<h2 class="section-title">Cours populaires</h2>
					<p>Nous proposons les niveaux suivants...</p>
				</div><!-- /.left-content -->

				<div class="owl-controls float-right"></div><!-- /.owl-controls -->
			</div><!-- /.top-content -->

			<div class="course-items with-slider">
				<div id="course-slider" class="course-slider owl-carousel">
					<div class="item">
						<div class="item-thumb">
							<img src="images/popular/1.jpg" alt="Item Thumbnail">
							<div class="avatar"><img class="rounded-circle" src="images/avatar/1.png" alt="Avatar Image"></div><!-- /.avatar -->
						</div><!-- /.item-thumb -->
						<div class="item-details">
							<h3 class="item-title"><a href="#">Vocabulaire du niveau 1</a></h3><!-- /.item-title -->
							<span class="instructor">Débutants</span><!-- /.instructor -->
							<div class="item-meta">
								<span><i class="icons icon-book-open"></i> 150 mots </span>
								<span>&nbsp</span>
								<span><i class="icons icon-trophy"></i> HSK</span>
							</div><!-- /.item-meta -->
						</div><!-- /.item-details -->
					</div><!-- /.item -->

					<div class="item">
						<div class="item-thumb">
							<img src="images/popular/2.jpg" alt="Item Thumbnail">
							<div class="avatar"><img class="rounded-circle" src="images/avatar/2.png" alt="Avatar Image"></div><!-- /.avatar -->
						</div><!-- /.item-thumb -->
						<div class="item-details">
							<h3 class="item-title"><a href="#">Vocabulaire du niveau 2</a></h3><!-- /.item-title -->
							<span class="instructor">Débutants</span><!-- /.instructor -->

							<div class="item-meta">
								<span><i class="icons icon-book-open"></i> 300 mots </span>
								<span>&nbsp</span>
								<span><i class="icons icon-trophy"></i>HSK</span>
							</div><!-- /.item-meta -->
						</div><!-- /.item-details -->
					</div><!-- /.item -->

					<div class="item">
						<div class="item-thumb">
							<img src="images/popular/3.jpg" alt="Item Thumbnail">
							<div class="avatar"><img class="rounded-circle" src="images/avatar/3.png" alt="Avatar Image"></div><!-- /.avatar -->
						</div><!-- /.item-thumb -->
						<div class="item-details">
							<h3 class="item-title"><a href="#">Vocabulaire du niveau 3</a></h3><!-- /.item-title -->
							<span class="instructor">Débutants</span><!-- /.instructor -->
							<div class="item-meta">
								<span><i class="icons icon-book-open"></i> 600 mots </span>
								<span>&nbsp</span>
								<span><i class="icons icon-trophy"></i> HSK</span>
							</div><!-- /.item-meta -->
						</div><!-- /.item-details -->
					</div><!-- /.item -->

					<div class="item">
						<div class="item-thumb">
							<img src="images/popular/7.jpg" alt="Item Thumbnail">
							<div class="avatar"><img class="rounded-circle" src="images/avatar/1.png" alt="Avatar Image"></div><!-- /.avatar -->
						</div><!-- /.item-thumb -->
						<div class="item-details">
							<h3 class="item-title"><a href="#">Vocabulaire du niveau 4</a></h3><!-- /.item-title -->
							<span class="instructor">Intermédiaire</span><!-- /.instructor -->
							<div class="item-meta">
								<span><i class="icons icon-book-open"></i> 1200 mots </span>
								<span>&nbsp</span>
								<span><i class="icons icon-trophy"></i>HSK</span>
							</div><!-- /.item-meta -->
						</div><!-- /.item-details -->
					</div><!-- /.item -->
				</div><!-- /.course-slider -->
			</div><!-- /.course-items -->
		</div><!-- /.container -->
	</div><!-- /.section-padding -->
</section><!-- /.popular-courses -->


<section class="facts background-bg" data-image-src="images/bg2.jpg">
	<div class="overlay">
		<div class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="item media">
							<div class="item-icon mr-3"><i class="icons icon-book-open"></i></div><!-- /.item-icon -->
							<div class="item-details">
								<span class="count">2250</span><!-- /.count -->
								<h3 class="item-title">Nombre de mots</h3><!-- /.item-title -->
							</div><!-- /.item-details -->
						</div><!-- /.item -->
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="item media">
							<div class="item-icon mr-3"><i class="icons icon-eyeglass"></i></div><!-- /.item-icon -->
							<div class="item-details">
								<span class="count">4</span><!-- /.count -->
								<h3 class="item-title">Niveaux différents</h3><!-- /.item-title -->
							</div><!-- /.item-details -->
						</div><!-- /.item -->
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="item media">
							<div class="item-icon mr-3"><i class="icons icon-people"></i></div><!-- /.item-icon -->
							<div class="item-details">
								<span class="count">548</span><!-- /.count -->
								<h3 class="item-title">Des utilisateurs</h3><!-- /.item-title -->
							</div><!-- /.item-details -->
						</div><!-- /.item -->
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="item media">
							<div class="item-icon mr-3"><i class="icons icon-trophy"></i></div><!-- /.item-icon -->
							<div class="item-details">
								<span class="count">4.5</span><!-- /.count -->
								<h3 class="item-title">Notes</h3><!-- /.item-title -->
							</div><!-- /.item-details -->
						</div><!-- /.item -->
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.section-padding -->
	</div><!-- /.overlay -->
</section><!-- /.facts -->


<footer class="site-footer" >
	<div class="footer-top light-black" >
		<div class="section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="widget widget_about_us" >
							<!--  <h4>Courseware</h4> -->
							<img class="footer-logo" src="images/logo2.png" alt="Site Logo" >
							<div class="widget-details">
								<p>
									Un logiciel d'apprentissage du chinois et du pinyin pour les étrangers qui aiment le chinois.
								</p>
								<ul>
									<li> <i class="fa fa-phone-square"></i> (+33)07 76 76 87 76</li>
									<li> <i class="fa fa-envelope-square"></i> <a href="#"> hihaohanzi@support.com</a></li>
								</ul>
								<div class="widget-social text-center">
									<a href="#"><i class="fab fa-facebook-f"></i></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
									<a href="#"><i class="fab fa-google-plus-square"></i></a>
									<a href="#"><i class="fab fa-youtube"></i></a>
								</div><!-- /.widget-social -->
							</div><!-- /.widget-details -->
						</div><!-- /.widget -->
					</div>


				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.section-padding -->
	</div><!-- /.footer-top -->

</footer><!-- /.site-footer -->

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<script>
	$(document).ready(function() {
		"use strict";
		// home contact info
		$(".trggericon").on("click", function(e){
		  $(this).parent('.top-contact').addClass('togglecontact');
		});
		$(".top-contact .close").on("click", function(e){
		  $(this).parent('.top-contact').removeClass('togglecontact');
		});
	});
</script>

</body>
</html>