{% load static %}

<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} <title>Demo</title> {% endcomment %}

	  <link rel="shortcut icon" href="#">

	  {% comment %} <script src="https://cdn.jsdelivr.net/npm/cnchar-all/cnchar.all.min.js"></script> {% endcomment %}
    <script src="{% static 'scripts/cnchar.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/hsk.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Nihao HanZi!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Bienvenue
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pinyinDict' %}">HanZi-PinYin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hsk1_view' %}">HSK(niveau 1)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hsk2_view' %}">HSK(niveau 2)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hsk3_view' %}">HSK(niveau 3)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hsk4_view' %}">HSK(niveau 4)</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

    <div class="container">

        {% block content %}{% endblock %}

    </div>


  {% block javascript %}{% endblock %}
</body>
</html>
