{% extends "base.html" %}

{% load static %}

{% block content %}

<title>HanZi-PinYin</title>

<form class="mb-3 row" action="pinyinAffi" method="post">

    <div class="d-flex">
        <div class="col-sm-4">
            <input type="text" name="hanziRe" autocomplete="off" class="form-control" placeholder="Rechercher les pinyins des caractères chinois..." id="validationDefault01" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark">Consulter !</button>
        </div>
    </div>

</form>


{% endblock %}